# Emacs artifacts
\#*
.\#*

# Vi(m) artifacts
*.swp

# Clojure/Java artifacts
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
